body {
  /* background-image: url("Template.png"); */
  margin: 0;
  padding: 0;
  background-color: black;
}
#particles-js {
  width: 100%;
  height: 110rem;
  background: black;
}
.main_logo {
  transition: transform 0.2s;
}
.main_logo:hover {
  transform: scale(1.25);
}
.scitech {
  position: absolute;
  z-index: 10;
  font-family: "Bebas Neue", cursive;
  font-size: 2.7rem;
  left: 0;
  top: 20%;
  color: #fff;
}
.college {
  margin-left: 90%;
  text-align: right;
  color: #fff;
}
.navbar {
  position: fixed;
  top: 0%;
  width: 100%;

  padding-top: 2.5em;
  background: rgba(21, 19, 19, 0.9);

  height: 3%;
  padding-bottom: 2%;
  padding-left: 32.5%;
  padding-right: 45%;
  z-index: 50000;
}
.nav-logo {
  height: 4rem;
  width: 4rem;

  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  color: #ffb600;
}

.nav-logo:hover {
  box-shadow: 0 0 0 3px #fff;
}

.nav-logo:hover::before {
  -webkit-transform: scale(0.925);
  -moz-transform: scale(0.925);
  -ms-transform: scale(0.925);
  -o-transform: scale(0.925);
  transform: scale(0.925);
  box-shadow: 0 0 0 1px #fff;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
}
.nav-logo:before {
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 25%;
  bottom: 0;
  box-shadow: 0 0 0 1px #fff;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
.nav-item {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, white 50%);
  height: 2%;
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding-top: 0.5%;
  padding-bottom: 0.3%;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

.nav-item:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 6%;
  transition: all 0.5s ease-in-out;
}

.nav-item:hover {
  background-position: 0;
}

.nav-item:hover::before {
  width: 100%;
}

.nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: coral;
  margin: auto;
  display: block;
}

nav-link:hover::after {
  width: 100%;
  transition: width 0.5s linear;
}
footer {
  position: relative;
  bottom: -35vh;
  width: 100%;
  background-color: black;
  height: 7%;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-weight: bold;
}

h5 {
  line-height: 1.5;
}
.fifth-content {
  left: 4%;

  position: absolute;
  top: 185%;
}

.fifth-content .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

.fifth-content .container-fluid .col-md-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.fifth-content .item {
  margin: 1rem;
}

.fifth-content .item img {
  max-width: 100%;
  overflow: hidden;
  max-height: 18rem;
  border: 0.5rem solid white;
}

.fifth-content .item .thumb {
  position: relative;
}

.fifth-content .item .hover-effect {
  text-align: left;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s;
}

.fifth-content .item:hover .hover-effect {
  opacity: 1;
  visibility: visible;
}

.fifth-content .item .hover-effect .hover-content {
  transform: translateY(-50%);
  position: absolute;
  text-align: left;
  width: 100%;
  top: 50%;
  left: 0;
  padding: 30px;
}

.fifth-content .item .hover-effect h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.fifth-content .item .hover-effect p {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 22px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}
.fourth-content {
  left: 0%;

  position: absolute;
  top: 65%;
}

.fourth-content .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}

.fourth-content .container-fluid .col-md-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.fourth-content .item {
  margin: 1rem;
}

.fourth-content .item img {
  max-width: 100%;
  overflow: hidden;
  border: 0.5rem solid white;
}

.fourth-content .item .thumb {
  position: relative;
}

.fourth-content .item .hover-effect {
  text-align: left;
  position: absolute;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.85);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s;
}

.fourth-content .item:hover .hover-effect {
  opacity: 1;
  visibility: visible;
}

.fourth-content .item .hover-effect .hover-content {
  transform: translateY(-50%);
  position: absolute;
  text-align: left;
  width: 100%;
  top: 50%;
  left: 0;
  padding: 30px;
}

.fourth-content .item .hover-effect h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.fourth-content .item .hover-effect p {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 22px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
}
.team {
  position: absolute;
  top: 49%;
  color: white;
  left: 36%;
  font-size: 6vw;
  font-family: "Poppins", sans-serif;
}
.webdev {
  position: absolute;
  top: 170%;
  color: white;
  left: 6%;
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}
.contact {
  height: 13%;

  position: absolute;
  font-size: 4rem;
  color: white;
  width: 50%;
  left: 23%;
  top: 24%;
  padding-left: 2%;
  background: rgba(21, 19, 19, 0);
  margin-top: 3%;
}

.title {
  position: absolute;
  top: 16%;
  left: 27%;
}
.contacttitle {
  color: white;
  font-size: 7vw;
  font-family: "Poppins", sans-serif;
}
.flip-box-fb {
  background-color: transparent;
  width: 10%;
  height: 100%;
  position: absolute;

  left: 20%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  z-index: 20000;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-fb:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  color: black;
}

/* Style the back side */
.flip-box-back {
  color: white;
  transform: rotateY(180deg);
}

.flip-box-linkedin {
  background-color: transparent;
  width: 10%;
  height: 100%;
  position: absolute;

  left: 48%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  z-index: 2;
}
.flip-box-linkedin:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.flip-box-instagram {
  background-color: transparent;
  width: 10%;
  height: 100%;
  position: absolute;

  left: 75%;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  z-index: 2;
}
.flip-box-instagram:hover .flip-box-inner {
  transform: rotateY(180deg);
}
.navbar-toggler{
  position: absolute;
  top:15%;
  left:70%;
}
.collapse{
  background-color:transparent;
}



@media screen and (max-width: 800px) {

  /* *, ::after, ::before {
    box-sizing: content-box;
} */

  .webdev, .contact,.team,.title {
    size: 100%;
    font-size: xx-large;
    align-items: center;
  }
 
 
  .flip-box-fb,.flip-box-linkedin,.flip-box-instagram{
    size: xx-large;
    width: 25%;
  }

  #particles-js {
    width: 100%;
    height:140rem;
    background: black;
}

.fourth-content {
  padding-left: 0px;
  padding-right: 0px;
  position:absolute;
  
}

.col,.item{
  box-sizing:content-box;
}


  .row-cols-3,.row, .row-cols-3{
    size:xx-large;
    flex-direction: column;
      
    align-items: center;
   
  }

  .contact {
    height: 10%;
    left:23%;
    position: absolute;
    font-size: 4rem;
    color: white;
    width: 50%;
    background: rgba(21, 19, 19, 0);
  }

  .row {
    --bs-gutter-x: 9.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
  .navbar {
    position: fixed;
    top: 0%;
    width: 100%;
    padding-top: 3em;
    background: rgba(21, 19, 19, 0.9);
    height: 3%;
    padding-bottom: 4%;
    padding-left: 54%;
    padding-right: 35%;
    z-index: 4;
  }
  .college{
  display: none;
  }
  .collapse{
    background-color: rgba(21, 19, 19,0.8);
  }
  .scitech{
    font-size: 28px;
   }
  footer {
    position: absolute;
    top: 340vh;
    width: 100%;
    background-color: black;
    height: 5%;
    font-size: 0.7rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-weight: 200;
  }
  
}


